@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

.App {
    display: flex;
    justify-content: space-around;

}

#card-container {
    display: flex;
}

#card-container > img {
    padding-top: 1rem;
    width: 250px;
    height: 450px;
    box-shadow: 10px 10px 5px grey;
}

#card-info {
    font-family: 'Jura', sans-serif;
    margin-left: 2rem;
    width: 30vw;
}

#card-info > h1 {
    font-size: 40px;
    margin-bottom: 1rem;
}

#card-info > p {
    font-size: 20px;
}
