@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@300&display=swap');

#App {
    font-family: 'Jura', sans-serif;
}
#header {
    width: 100vw;
    height: 10vh;
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 2rem;
    box-shadow: 5px .5px 20px 5px #3b67a1;
}

#logo {
    margin-left: 2vw;
}

#header > h1 {
    display: flex;
    align-items: center;
    font-family: 'Imbue', serif;
    margin-left: 10vw;
    font-size: 60px;
    color: rgb(54, 54, 54);
}

#header > ul {
    margin-left: 20vw;
    display: flex;
    align-items: center;

}

#header > ul > li {
    text-shadow: .25px .25px #7e713c;
}

#header > ul > li+li {
    margin-left: 2vw;
}



#instructions-container {
    height: 10vh;
    width: 100vw;
}

#instructions-container > p {
    margin-left: 20vw;
    font-size: 25px;
    text-shadow: .25px .25px #7e713c;
}

#pothos {
    size: 10px;
}

#deck-and-card-container {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
}

#card-container {
    display: flex;
}

#card-container > img {
    padding-top: 1rem;
    width: 250px;
    height: 450px;
    box-shadow: 10px 10px 7.5px grey;
}

#card-info {
    margin-left: 2rem;
    width: 30vw;
}

#card-info > h1 {
    font-family: 'Imbue', serif;
    font-size: 50px;
    margin-bottom: 1rem;
    text-shadow: .5px .5px #7e713c;
}

#card-info > p {
    font-size: 20px;
    text-shadow: .25px .25px #7e713c;
}
