@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
#App {
    font-family: 'Jura', sans-serif;
}
#header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    box-shadow: 0px 5px 10px 5px grey;
}

#header > h1 {
    font-size: 60px;
}

#pothos {
    size: 10px;
}

#deck-and-card-container {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
}

#card-container {
    display: flex;
}

#card-container > img {
    padding-top: 1rem;
    width: 250px;
    height: 450px;
    box-shadow: 10px 10px 5px grey;
}

#card-info {
    margin-left: 2rem;
    width: 30vw;
}

#card-info > h1 {
    font-size: 40px;
    margin-bottom: 1rem;
}

#card-info > p {
    font-size: 20px;
}
